
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <title>Sched-You-Ler</title>	
  
      <!-- Load required Bootstrap and BootstrapVue CSS -->
      <link href="style.css" type="text/css" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
      <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
      <link href="https://fonts.googleapis.com/css?family=Jua|Kosugi+Maru" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  
      <!-- Load polyfills to support older browsers -->
      <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>
  
      <!-- Load Vue followed by BootstrapVue -->
      <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
  
      <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
      <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
</head>

<body>
  <div id = "page">
    <h1>Sched-You-Later</h1>
  <br>
  <div id = "LogIn">
    <form id="userForm">
      <label for="username">Username: </label>
      <input id="nameField" type="text" name="username" v-model="username"/>
      <label for="password">Password: </label>
      <input id="passField" type="password" name="password" v-model="password"/>
    </form>
    <section>
      <button class="btn btn-dark" id="submitButton" @click='addUser'>Sign Up</button>
      <button class="btn btn-dark" id="userButton" @click='getUser'>Log In</button>
    </section>
  </div>
  <div>
    <h5>{{loginStatus}}</h5>
  </div>
  <br>
  <nav id = "loginNav">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="btn btn-outline-secondary active" id="nav-schedule-tab" data-toggle="tab" href="#nav-schedule" role="tab" aria-controls="nav-schedule" aria-selected="true">Schedule</a>
      <a class="btn btn-outline-secondary" id="nav-date-tab" data-toggle="tab" href="#nav-date" role="tab" aria-controls="nav-date" aria-selected="false">Date</a>
      <a class="btn btn-outline-secondary" id="nav-numbers-tab" data-toggle="tab" href="#nav-numbers" role="tab" aria-controls="nav-date" aria-selected="false">Numbers</a>
    </div>
  </nav>

  <div id = "loginContainer">
  <div class="tab-content" id="nav-tabContent">
  
  
    <div class="tab-pane fade show active" id="nav-schedule" role="tabpanel" aria-labelledby="nav-schedule-tab">
  
    <div class = "widget" id="searchBar">
      <div>
      <h5>Starting Time:</h5>
      <input @input="adjustTime" type="time" id="timeX" name="timeX" v-model = "timeX">
      <h5>Ending Time:</h5>
      <input type="time" id="timeY" name="timeY" v-model = "timeY">
      <h5>Search Term:</h5>
      <input @input="inputHandler" id="textSearch" v-bind:placeholder="placeholder" v-model="message" type="text" autocomplete=off autofocus maxlength="50" ref="textBox">
      </div>
      <div>
        <br>
        <button class="btn btn-dark" id="getScheduleButton" @click='getSchedule'>Get Schedule</button>
        <button class="btn btn-dark" id="addScheduleButton" @click='addSchedule'>Add to Schedule</button>
        <button class="btn btn-dark" id="postScheduleButton" @click='postSchedule'>Post Schedule</button>
        <button class="btn btn-dark" id="clearScheduleButton" @click='deleteSchedule'>Clear Schedule</button>
      </div>
    </div>
  
      <hr>
        <div id = "innerContainer">
            <div class="row" id = "searchResults">
                <div class="col-sm-12">
                    <h2>Results</h2>
                    <result-list v-bind:results="schedule" v-bind:status="status"></result-list>
                <br>
                </div>
            </div>
        </div>
    
    </div>
  
    <div class="tab-pane fade" id="nav-date" role="tabpanel" aria-labelledby="nav-date-tab">
      <section>
        <h2>Translate the Date</h2>
        <button class="btn btn-dark" @click="getDate">Get the date!</button>
      </section>
  
      <hr>
      <h2>Date:</h2>
      <section class = "results">
        <p v-for="opt in dateOutput">
          {{opt}}
        </p>
      </section>
    </div>
  
  
    <div class="tab-pane fade" id="nav-numbers"  role="tabpanel" aria-labelledby="nav-numbers-tab">
  
      <h2>Translate a number</h2>
      <section>
        <input type="text" placeholder = "Enter numbers here!" maxlength="5" v-model="numInput" pattern="[0-9]"> 
        <button class="btn btn-dark" @click="getNumber" id="numButton">Translate!</button>
      </section>
    
      <hr>
      <h2>Number Kanji:</h2>
      <section class = "results">
        <p v-for="opt in numOutput">
          {{opt}}
        </p>
      </section>
  </div>
  </div>
</div>

</div>
<script src="VueComponents.js"></script>
<script src="VueHandler.js"></script>
</body>
</html>