body, html
{
    background-color: rgb(236, 236, 236);
    margin:0;
    padding:0;
    overflow-y: auto;
    overflow-x: hidden;
    align-content: center;
}

#loginContainer, #loginNav
{
    visibility: hidden;
}

#page
{
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(236, 236, 236);
    align-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
}

.category
{
    font-family: 'Jua', sans-serif;
    font-weight:bold;
    text-decoration: underline; 
    font-size: 16pt;
}

.widget
{
    margin-top: 2vh;
}

h1,h2,h3,h4,h5
{
    font-family: 'Jua', sans-serif;
    font-size:140%;
}

*
{
    font-family: 'Kosugi Maru', sans-serif;
}

.results
{
    font-size: 125%;
}

button
{
    size: 200%;
}

input{
    size: 200%;
}